body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  background-color: #FFFAF0;
  color: #000000;
  text-align: justify;
     
}
h1  {
    font-family: "Overlock", serif;
    font-size: 50px;
    font-weight: <400>;
    font-style: italic;
    color: #c8a951;
    margin: auto;
    padding-bottom: 12px;
    position: absolute;
    right: 590px;
    top: 70px;
   }

h2 {
  font-family: "Overlock", serif;
  font-size: 50px;
  font-weight: <400>;
  font-style: italic;
  color: #c8a951;
  margin: auto;
  padding-bottom: 12px;
  position: absolute;
  right: 570px;
  top: 120px;
 }

#profile {
    max-width: 600px;
    max-height: 396px;
    margin: auto;
}
img {
    width: 40%;
    height: auto;
    border-radius: 5px;
    margin: auto;
    padding-left: 20px;
    }
/*grid layout*/
main {
   
  }
  #bio-note { 
    padding: 5px 20px;
    width: auto;
    position: absolute;
    left: 200px;
    right: 200px;
  }
  #profile-image {
   
  }
  /*heading styles*/
  #bio-note h2 {
    margin-top: 0;
}
#spaced-links {
  display: flex;
  gap: 100px;
  position: absolute;
  bottom: 200px;
}
#spaced-links2 {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 156px;
  left: 520px;
}

