body {
    font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  background-color: #192841;
  color: #FFFFFF;
  text-align: center;
     
}
h1  {
     font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    color: #c8a951;
    margin: 1em; 
    padding: 5px 2px;
    text-shadow: 2px 2px 4px #000000;

}
#profile {
    max-width: 600px;
    max-height: 396px;
    margin: auto;
}
img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}
/*grid layout*/
main {
   
  }
  #bio-note { 
    padding: 5px 20px;
  }
  #profile-image {
   
  }
  /*heading styles*/
  #bio-note h2 {
    margin-top: 0;
}
#spaced-links {
  display: flex;
  gap: 100px;
}
#spaced-links2 {
  display: flex;
  gap: 30px;
  padding: 20px 70px;
}

